# database connection values
DB_HOST='localhost'
DB_PORT='5432'
DB_NAME='compass'
DB_PASSWORD='123456'
DB_USER='compass_user'

# a secret used for JWT generation
JWT_SECRET='mein_schatz'

# ORSCF api endpoint configuration
JWT_ALLOWED_HOSTS='localhost'
JWT_ALLOWED_ISSUERS='TrustedIssuer1;TrustedIssuer2'

# independend from the 'JWT_SECRET' above, this ist used to VERIFY the JWTs accessing the ORSCF api (one key per allowed issuer)
ORSCF_JWT_PUBLIC_KEY_OR_SECRET_TrustedIssuer1 = '...the..signkey..which..was..used..by..TrustedIssuer1...'
ORSCF_JWT_PUBLIC_KEY_OR_SECRET_TrustedIssuer2 = '...the..signkey..which..was..used..by..TrustedIssuer2...'

# ORSCF study uid (needs to be inside the jwt's "scope" claim) as follows: Study:00000000-0000-000...
STUDY_UID='00000000-0000-0000-0000-000000000000'

# optional Push Service configuration
GOOGLE_APPLICATION_CREDENTIALS='./google-services.json'

# have node use a common time zone
TZ = 'Europe/Amsterdam'

# encryption keys

COMPASS_PUBLIC_KEY='-----BEGIN PUBLIC KEY-----\nMII ... \n ... \n-----END PUBLIC KEY-----'
COMPASS_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----\nMII ... \n ... =\n-----END PRIVATE KEY-----'

COMPASS_RECIPIENT_CERTIFICATE='-----BEGIN CERTIFICATE-----\nMII .... \n ... \n-----END CERTIFICATE-----'

# Uncomment the following the line to disable SSL for dev
# DB_USE_SSL='false'

# Uncomment the following line and enter the ssl certificate for your database
# if you don't use the ibm cloud (openshift) for deployment
# Attention: self signed certificates won't work!
# DB_SSL_CA='-----BEGIN CERTIFICATE-----\nMII .... \n ... \n-----END CERTIFICATE-----'

