# database connection values
DB_HOST='localhost'
DB_PORT='5432'
database-name='compass'
database-password='123456'
database-user='compass_user'

# a secret used for JWT generation
JWT_SECRET='mein_schatz'

# optional Push Service configuration
PUSH_CLIENT_SECRET='xyz'
PUSH_API_KEY='xyz'
PUSH_APP_ID='xyz'

# have node use a common time zone
TZ = 'Europe/Amsterdam'

# encryption keys
COMPASS_PUBLIC_KEY='-----BEGIN PUBLIC KEY-----\nMII ... \n ... \n-----END PUBLIC KEY-----'
COMPASS_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----\nMII ... \n ... =\n-----END PRIVATE KEY-----'

COMPASS_RECIPIENT_CERTIFICATE='-----BEGIN CERTIFICATE-----\nMII .... \n ... \n-----END CERTIFICATE-----'
